/* Top lišta nad navbar – využívá Bootstrap grid */
.header-top {
    background-color: #b0d4e6;
    font-size: 0.9rem;
    font-weight: bold;
}

/* jednotné odsazení položek */
.header-top .header-item {
    margin: 0;
}

.user-block-small {
    font-size: 0.9rem;
}

/* jemnější text na hodně malých, pokud chceš */
@media (max-width: 575.98px) {
    .header-top {
        font-size: 0.8rem;
    }
}