* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* položky vlevo, uprostřed, vpravo */
    align-items: center;
    padding: 5px 20px;
    background-color: #b0d4e6;
    font-size: 16px;
    font-weight: bold;
    
    
}


/* Položky v headeru */
.header-item {
    margin: 0 10px;
}

/* Responsivně na mobilu */
@media (max-width: 700px) {
    .header-top {
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    .header-item {
        margin: 2px 0;
    }

    /* Skryj aktuality */
    .header-item:first-child {
        display: none;
    }
}

.header-top {
    background-color: #b0d4e6;
}

.header-top .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}