/* základ */
.player-match-status {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
}

/* ikona */
.player-match-status-icon {
    font-size: 1.5rem;
}

/* text */
.player-match-status-text {
    font-size: 1.5rem;
}

/* ===== STAVY HRÁČE (BARVY) – podle modifieru ===== */

.player-match-status--registered .player-match-status-icon {
    color: #018520;
}

.player-match-status--registered .player-match-status-text {
    color: #030303;
}

.player-match-status--unregistered .player-match-status-icon {
    color: #f17108;
}

.player-match-status--unregistered .player-match-status-text {
    color: #030303;
}

.player-match-status--excused .player-match-status-icon {
    color: #ffc107;
}

.player-match-status--excused .player-match-status-text {
    color: #030303;
}

.player-match-status--reserved .player-match-status-icon {
    color: #0d6efd;
}

.player-match-status--reserved .player-match-status-text {
    color: #030303;
}

.player-match-status--no_response .player-match-status-icon {
    color: #ddda0a;
}

.player-match-status--no_response .player-match-status-text {
    color: #030303;
}

.player-match-status--no_excused .player-match-status-icon {
    color: #dc3545;
}

.player-match-status--no_excused .player-match-status-text {
    color: #750b16;
}